* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #608411;
    /*background-image: url('https://i.pinimg.com/1200x/c7/cb/f7/c7cbf744f2dd55faa4e8d656c26c2176.jpg');*/
    color: #fdfeff;
    font-family: "Comic Sans MS", Arial, sans-serif;
    line-height: 1.5;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto; 
}

header {
    text-align: center;
    margin-bottom: 30px;
    background-color: #483018;
    border: 5px dashed #3461f3;
    padding: 10px;
}

h1 {
    font-size: 2.5rem;
    color: #005eff;
    text-shadow: 2px 2px #0000ff;
}

h2 {
    color: #06ad1f;
    margin-bottom: 10px;
}

marquee {
    background-color: #002fff;
    color: #67c2ff;
    font-size: 1.2rem;
    padding: 5px;
    margin: 10px 0;
    border: 2px solid #c5c5c5;
}

#bar {
    border: 3px solid #dfdfdf;
    border-radius: 999px; 
    padding: 10px;
    width: 80%;
    margin: 10px auto;
    background-color: #3b2b15;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barLink {
    color: #1797ff;
    text-decoration: none;
    font-weight: bold;
}

.barLink:hover {
    color: #ffffff;
    text-decoration: underline;
}

main {
    padding: 10px;
}

section {
    background-color: rgb(97, 73, 49);
    border: 3px ridge #2596ff;
    padding: 15px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 0px #0984ff4d;
    overflow: hidden;
}

#intro p {
    margin-bottom: 1.5rem;
}

#animal-pic {
    float: right;
    max-width: 40%;
    height: auto;
    /*height: 40%;*/
    border: 4px solid #188bff;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

ul {
    margin-left: 40px;
    margin-top: 10px;
    color: #59ff00;
}

a {
    color: #4bda09;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    border: 3px solid #ffffff;
    background-color: #4d320b;
}

th, td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #54a300; 
    color: #fff;
}

tr:nth-child(even) {
    background-color: #664f1e;
}

footer {
    text-align: center;
    margin-top: 30px;
    border: 5px dashed #005eff;
    padding: 20px;
    background-color: #695432;
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 15px;
    color: #00ddff;
}

input[type="text"], input[type="email"] {
    border: 2px solid #0051ff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #16ade4;
    color: #ffffff;
    font: inhert;
}

#submit-btn, #secret-btn {
    background-color: #674444;
    color: #ffffff;
    border: 3px solid #25afff;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
}

#submit-btn:hover, #secret-btn:hover{
    background-color: #00ff55;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }
    
    #bar {
        border-radius: 15px;
    }

}